<%- include('../layouts/header', {title: 'จัดการคอร์สเรียน'}); -%>
<%- include('../layouts/css'); -%>
<style>
    .easy-autocomplete {
        width: 100% !important;
    }

    .easy-autocomplete>input {
        width: 100% !important;
        padding: 10px;
    }
</style>
<%- include('../layouts/endheader'); -%>
<div class="uk-flex">
    <%- include('../layouts/sideMenu'); -%>
    <div class="content-contianer">
        <div class="navbar">
            <div class="uk-flex">
                <div class="width-100 nav-left">
                    หน้าหลัก
                    <span uk-icon="chevron-right"></span>
                </div>
                <%- include('../layouts/navBar'); -%>
            </div>
        </div>

        <div class="content">

            <div id="modal-add" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <h2 class="uk-modal-title uk-legend">เพิ่มกลุ่ม</h2>
                    <form method="post" action="/course/add/<%=subject._id%>">
                        <fieldset class="uk-fieldset">
                            <div class="uk-margin">
                                <input id="" class="uk-input" name="no" type="text" required placeholder="ใส่กลุ่ม"
                                    maxlength="11">
                            </div>


                        </fieldset>
                        <p class="uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close " type="button">ยกเลิก</button>
                            <button class="uk-button uk-button-primary" type="submit">เพิ่ม</button>
                        </p>
                    </form>
                </div>
            </div>
            <div>

                <li class="uk-nav-header underline" style="margin-top: 15px;">วิชา <%=subject.subjectName%> <button
                        style="margin-top: -20px;"
                        class="uk-button uk-button-default  uk-margin-small-right uk-button-primary uk-align-right"
                        type="button" uk-toggle="target: #modal-add">เพิ่มกลุ่ม</button></li>
            </div>
            <div style="text-align: center;">
                <table class="uk-table uk-table-divider">
                    <thead>
                        <tr>
                            <th style="text-align: center;">เทอม</th>
                            <th style="text-align: center;">กลุ่มเรียน</th>
                            <th style="text-align: center;">อาจารย์</th>
                            <th style="text-align: center;">นิสิต</th>
                            <th style="text-align: center;">จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% subject.course.forEach(function(course){ %>
                        <tr>
                            <td><%=course.term.termNo%></td>
                            <td><%=course.courseNo%></td>
                            <td style="text-align: center;"><%=course.teacher.length%></td>
                            <td style="text-align: center;"><%=course.student.length%></td>
                            <td>
                                <button style="right: 0; margin-top: 1px;"
                                    class="uk-button uk-button-default  uk-margin-small-right uk-button-primary "
                                    type="button" uk-toggle="target: #addteacher-<%=course._id%>">จัดการอาจารย์</button>
                                <button style="right: 0; margin-top: 1px;"
                                    class="uk-button uk-button-default  uk-margin-small-right uk-button-primary "
                                    type="button" uk-toggle="target: #addstudent-<%=course._id%>">จัดการนิสิต</button>
                                <a href="/course/group/del/<%=course._id%>/<%=subject._id%>"
                                    style="right: 0; margin-top: 1px;"
                                    class="uk-button uk-button-default  uk-margin-small-right uk-button-danger "><span
                                        uk-icon="trash"></span></a>

                                <div id="addstudent-<%=course._id%>" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body">
                                        <h2 class="uk-modal-title uk-legend">จัดการนิสิต</h2>

                                        <form method="post"
                                            action="/course/student/add/<%=subject._id%>/<%=course._id%>">
                                            <div uk-grid style="margin-left: 0px;">
                                                <div style="padding: 0px;" class="uk-width-4-5">
                                                    <input style="height: 40px;border-radius: 0px;"
                                                        class="search-student" type="search" placeholder="Search"
                                                        aria-label="Search" name="id" autocomplete="off">
                                                </div>
                                                <div style="padding: 0px;" class="uk-width-1-5">
                                                    <button class="uk-button uk-button-default uk-button-primary"
                                                        style="width: 100%;background: #615e5e;" type="submit"><span
                                                            uk-icon="plus"></span></button>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="uk-overflow-auto">
                                            <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                                                <thead>
                                                    <tr>
                                                        <th>รหัสนิสิต</th>
                                                        <th>ชื่อ-สกุล</th>
                                                        <th style="text-align: center">การจัดการ</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% course.student.forEach(function(student){ %>
                                                    <tr>

                                                        <td><%=student.student_id%></td>
                                                        <td><%=student.firstname%> <%=student.lastname%></td>
                                                        <td style="text-align: center"><a
                                                                href="/course/student/del/<%=subject._id%>/<%=course._id%>/<%=student.student_id%>"><button
                                                                    class="uk-button uk-button-danger"
                                                                    style="padding: 0px 10px; "><span
                                                                        uk-icon="trash"></span></button></a></td>
                                                    </tr>
                                                    <% }) %>
                                                    <% if(course.student.length<1){ %>
                                                    <tr>
                                                        <td style="text-align: center;" colspan="3">ไม่มีข้อมูลในระบบ
                                                        </td>
                                                    </tr>
                                                    <% } %>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div id="addteacher-<%=course._id%>" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body">
                                        <h2 class="uk-modal-title uk-legend">จัดการอาจารย์</h2>
                                        <form method="post"
                                            action="/course/teacher/add/<%=subject._id%>/<%=course._id%>">
                                            <div uk-grid style="margin-left: 0px;">
                                                <div style="padding: 0px;" class="uk-width-4-5">
                                                    <input style="height: 40px;border-radius: 0px;"
                                                        class="search-teacher" type="search" placeholder="Search"
                                                        aria-label="Search" name="id" autocomplete="off">
                                                </div>
                                                <div style="padding: 0px;" class="uk-width-1-5">
                                                    <button class="uk-button uk-button-default uk-button-primary"
                                                        style="width: 100%;background: #615e5e;" type="submit"><span
                                                            uk-icon="plus"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="uk-overflow-auto">
                                            <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                                                <thead>
                                                    <tr>
                                                        <th>รหัสประจำตัว</th>
                                                        <th>ชื่อ-สกุล</th>
                                                        <th style="text-align: center">การจัดการ</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% course.teacher.forEach(function(teacher){ %>
                                                    <tr>

                                                        <td><%=teacher.teacher_id%></td>
                                                        <td><%=teacher.firstname%> <%=teacher.lastname%></td>
                                                        <td style="text-align: center"><a
                                                                href="/course/teacher/del/<%=subject._id%>/<%=course._id%>/<%=teacher.teacher_id%>"><button
                                                                    class="uk-button uk-button-danger"
                                                                    style="padding: 0px 10px; "><span
                                                                        uk-icon="trash"></span></button></a></td>
                                                    </tr>
                                                    <% }) %>
                                                    <% if(course.teacher.length<1){ %>
                                                    <tr>
                                                        <td style="text-align: center;" colspan="3">ไม่มีข้อมูลในระบบ
                                                        </td>
                                                    </tr>
                                                    <% } %>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>
                        <% }); %>
                        <% if(subject.course.length<1){ %>
                        <tr>
                            <td colspan="2">ไม่มีข้อมูลในระบบ</td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/javascript'); -%>

<script>
    $('.easy-autocomplete').css('width', '100%')
    var optionsStudent = {
        url: function (phrase) {
            // console.log(phrase);
            return "/manageuser/student/search/" + phrase;
        },
        getValue: function (item) {
            return item.student_id
        },
        requestDelay: 300,
        ajaxSettings: {
            dataType: "json",
            method: "GET",
            data: {
                dataType: "json"
            }
        },
        list: {
            onChooseEvent: function () {

            }
        },
        template: {
            type: "custom",
            method: function (value, item) {
                return item.student_id + " | " + item.firstname + " " + item.lastname;
            }
        },
        preparePostData: function (data) {
            //   console.log( $("#s_post").val());
            // data.phrase = $("#search-auto-com").val();
            // data._token = $("#s_post").val();
            return data;
        },
    };
    $(".search-student").easyAutocomplete(optionsStudent);
    var optionsTeacher = {
        url: function (phrase) {
            // console.log(phrase);
            return "/manageuser/teacher/search/" + phrase;
        },
        getValue: function (item) {
            return item.teacher_id
        },
        requestDelay: 300,
        ajaxSettings: {
            dataType: "json",
            method: "GET",
            data: {
                dataType: "json"
            }
        },
        list: {
            onChooseEvent: function () {

            }
        },
        template: {
            type: "custom",
            method: function (value, item) {
                return item.teacher_id + " | " + item.firstname + " " + item.lastname;
            }
        },
        preparePostData: function (data) {
            //   console.log( $("#s_post").val());
            // data.phrase = $("#search-auto-com").val();
            // data._token = $("#s_post").val();
            return data;
        },
    };
    $(".search-teacher").easyAutocomplete(optionsTeacher);
</script>
<%- include('../layouts/footer'); -%>