<%- include('../layouts/header', {title: 'จัดการการสอบ'}); -%>
<%- include('../layouts/css'); -%>
<style>
    .only-timepicker .datepicker--nav,
    .only-timepicker .datepicker--content {
        display: none;
    }

    .only-timepicker .datepicker--time {
        border-top: none;
    }
</style>
<%- include('../layouts/endheader'); -%>
<div class="uk-flex">
    <%- include('../layouts/sideMenu'); -%>
    <div class="content-contianer">
        <div class="navbar">
            <div class="uk-flex">
                <div class="width-100 nav-left">
                    หน้าหลัก
                    <span uk-icon="chevron-right"></span> จัดการการสอบ
                </div>
                <%- include('../layouts/navBar'); -%>
            </div>
        </div>

        <div class="content">

            <div class="uk-margin" style="text-align: left;">
                <label style="font-size: 20px" class="uk-form-label" for="form-horizontal-text">นิสิต
                    <%=course.student.length%> คน</label>
            </div>
            <form class=" uk-form-horizontal uk-width-xxlarge uk-align-center" method="POST" action="/exam/search/room">
                <input style="display:none" class="uk-input" name="id" value="<%= course._id %>">
                <input style="display:none" value="<%=examination._id%>" name="examination_id">
                <input type="hidden" name="subject_id" value="<%= subject._id %>">
                <br>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">ตึก</label>
                    <div class="uk-form-controls">
                        <select name="building_id" class="uk-select">
                            <% buildingData.forEach(function(building){ %>
                            <option id="building_id" value="<%= building._id%>">
                                <%= building.building_name %>
                            </option>
                            <% });0 %>
                        </select>
                    </div>

                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">วัน</label>
                    <div class="uk-form-controls">
                        <input class="uk-input date_input datepicker-here" data-language='th' name="date"
                            value="<%= inputDate %>" type="text">
                    </div>
                </div>


                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">เวลาเริ่ม</label>
                    <div class="uk-form-controls">
                        <input class="uk-input time_input" name="start" type="text" value="23:00">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">ถึงเวลา</label>
                    <div class="uk-form-controls">
                        <input class="uk-input time_input" name="end" type="text" value="23:00">
                    </div>
                </div>
                <div class="uk-margin">
                    <button type="submit" name="roomSearch" value="0"
                        class="uk-button uk-button-default uk-align-right">ค้นหาจากห้องที่จัดแล้ว</button>
                </div>
                <div class="uk-margin">
                    <button type="submit" name="roomSearch" value="1"
                        class="uk-button uk-button-default uk-align-right">ค้นหา</button>
                </div>
            </form>
            <form action="/exam/manage/room/save/<%= subject._id %>/<%= course._id %>" method="POST">
                <input style="display:none" value="<%=examination._id%>" name="examination_id">
                <table class="uk-table uk-table-striped">
                    <thead>
                        <tr>
                            <th>ตึก</th>
                            <th>ห้อง</th>
                            <th>แถว</th>
                            <th>คอลัมน์</th>
                            <th>ที่ว่าง</th>
                            <th>จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <% if(locals.rooms){ %>
                        <% rooms.forEach(function(room){ %>
                        <tr>
                            <td><%= room.building.building_name %></td>
                            <td><%= room.name %></td>
                            <td><%= room.row %></td>
                            <td><%= room.col %></td>
                            <% if(status){ %>
                            <td><%= room.remain %>/<%= room.size %></td>
                            <% }else{ %>
                                <td><%= room.size %>/<%= room.size %></td>
                            <% } %>
                            <td><input class="uk-checkbox" name="rooms" value="<%= room._id %>" type="checkbox"></td>
                        </tr>
                        <% }); %>

                        <% if(rooms.length<1){ %>
                        <tr>
                            <td colspan="7">ไม่มีข้อมูลในระบบ</td>
                        </tr>
                        <% } %>
                        <% } %>
                    </tbody>
                </table>
                <% if(data!=null){ %>
                <input type="hidden" id="dataJSON" name="data" value="<%- encodeURIComponent(JSON.stringify(data)) %>">
                <% } %>
                <div class="uk-margin" style="text-align:right;">
                    <button type="submit" class="uk-button uk-button-default">บันทึก</button>
                </div>
            </form>
        </div>
    </div>
</div>


<%- include('../layouts/javascript'); -%>
<script>
    // document.getElementById('date').value = new Date()
    // $('.date_input').data('datepicker')

    $.fn.datepicker.language['en'] = {
        days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
        daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
        months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
            'November', 'December'
        ],
        monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        today: 'Today',
        clear: 'Clear',
        dateFormat: 'yyyy-mm-dd',
        timeFormat: 'hh:ii',
        firstDay: 0
    };
    $.fn.datepicker.language['th'] = {
        days: ['วันอาทิตย์', 'วันจันทร์', 'วันอังคาร', 'วันพุธ', 'วันพฤหัสบดี', 'วันศุกร์', 'วันเสาร์'],
        daysShort: ['อาทิตย์', 'จันทร์', 'อังคาร', 'พุธ', 'พฤหัส', 'ศุกร์', 'เสาร์'],
        daysMin: ['อา.', 'จ.', 'อ', 'พ.', 'พฤ.', 'ศ.', 'ส.'],
        months: ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน",
            "กรกฏาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"
        ],
        monthsShort: ['มกรา', 'กุมภา', 'มีนา', 'เมษา', 'พฤษภา', 'มิถุนา', 'กรกฏา', 'สิงหา', 'กันยา', 'ตุลา',
            'พฤศจิกา', 'ธันวา'
        ],
        today: 'วันนี้',
        clear: 'รีเซ็ต',
        dateFormat: 'yyyy-mm-dd',
        timeFormat: 'hh:ii',
        firstDay: 0
    };

    $('.time_input').datepicker({
        language: 'th',
        dateFormat: ' ',
        dateTimeSeparator: '',
        timepicker: true,
        classes: 'only-timepicker',
        onHide: function (dp, animationCompleted) {
            console.log(this.$el);

            if (animationCompleted) {
                this.$el.val(this.$el.val().replace(/ /g, ""))
            }
        }
    })

    $('.date_input').datepicker({
        language: 'th',

    })
    // $('.date_input').val('<%= inputDate %>');
    var datepicker = $('.date_input').datepicker().data('datepicker');
    datepicker.selectDate(new Date('<%= inputDate %>'));
    console.log(JSON.parse(decodeURIComponent($('#dataJSON').val())));
</script>

<%- include('../layouts/footer'); -%>