<%- include('../layouts/header', {title: 'ข้อมูลนิสิต'}); -%>
<%- include('../layouts/css'); -%>
<%- include('../layouts/endheader'); -%>
<div class="uk-flex">
    <%- include('../layouts/sideMenu'); -%>
    <div class="content-contianer">
        <div class="navbar">
            <div class="uk-flex">
                <div class="width-100 nav-left">
                    หน้าหลัก
                    <span uk-icon="chevron-right"></span> ข้อมูลนิสิต
                </div>
                <%- include('../layouts/navBar'); -%>
            </div>
        </div>

        <div class="content">
            <div style="text-align: center;">
                <div style="text-align: center; margin-bottom: 30px;"> <b style="font-size: 30px;"> แก้ไขข้อมูล </b></div>
                <form class="uk-form-horizontal " style="margin-right:100px;" action="/manageuser/student/update" method="post">
                    <input type="hidden" name="_id" value="<%= studentData._id %>">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">รหัสนิสิต</label>
                        <div class="uk-form-controls">
                            <input class="uk-input " value="<%= studentData.student_id %>" name="student_id" type="text"
                                placeholder="Default">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">ชื่อ</label>
                        <div class="uk-form-controls">
                            <input class="uk-input " value="<%= studentData.firstname %>" name="firstname" type="text" required
                                placeholder="Default">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">นามสกุล</label>
                        <div class="uk-form-controls">
                            <input class="uk-input " value="<%= studentData.lastname %>" name="lastname" type="text" required
                                placeholder="Default">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">อีเมลย์</label>
                        <div class="uk-form-controls">
                            <input class="uk-input " value="<%= studentData.email %>" name="email" type="email" required
                                placeholder="Default">
                        </div>
                    </div>

                    <div class="uk-flex row center">
                        <div style="text-align: center; width: 100%;">
                            <button type="submit" class="uk-button uk-button-default">ยืนยัน</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/javascript'); -%>
<%- include('../layouts/footer'); -%>